*{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
}


img{
	max-width: 100%;
}


table{
	background-color: olive;
	color: white;
	border-style: solid;
	border-width: 4px;
	border-color: purple;
	font-family: helvetica, sans-serif;
	border-collapse: collapse;
}
td, th{
	border-width: 1px;
	border-style: solid;
	border-color: yellow;
	padding: 5px;
}

th{
	background-color: green;
}


.saludo{
	background-color: orange;
}


.piscos-destacados{
	background-color: pink;
	padding: 10px;
	margin: 0;
}

/* ==================== *\
	   O F E R T A
\* ==================== */



.oferta{
	background-color: #000;
	padding: 10px;
	text-align: center;
}


	.oferta--especial{
		font-size: 150%;
	}

	.oferta__link{
		color: #fff;
		font-weight: 700;
		text-decoration: none;
	}

	.oferta__link:hover{
		color: #f00;
	}

/* ==================== *\
	    H E A D E R 
\* ==================== */


.header{
	border-bottom: solid 1px black;
	background-color: #d7d7d7;
	position: sticky;
	top: 0;
}

	.header__title{
		color: red;
	}

	.header__content{
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header__navigation{
		display: flex;
		align-items: center;
	}

	.header__form{
		display: flex;
		background-color: #fff;
		border-radius: 15px;
	}

	.header__label{
		display: none;
	}

	.header__field{
		border: none;
		background-color: transparent;
		padding: 5px 10px;
		outline: none;
	}

	.header__button{
		padding: 4px 10px;
		border: none;
		background-color: transparent;
		outline: none;
		cursor: pointer;
	}

/* ==================== *\
	     M E N U
\* ==================== */



.menu{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

	.menu__link{
		display: block;
		padding: 5px 10px;
		text-decoration: none;
		text-transform: uppercase;
		color: #000;
	}

	.menu__link:hover{
		color: #fff;
	}

	.submenu{
		padding: 0;
		list-style: none;
		display: none;
		position: absolute;
		background-color: #c1c1c1;
	}

	.menu__item:hover .submenu{
		display: block;
	}


/* ==================== *\
	     H E R O
\* ==================== */


.hero{
	padding-top: 100px;
	background-color: #000;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../images/sento.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	scroll-margin-top: 142.267px;
}

	.hero__content{
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
	}

	.hero__text{
		width: 50%; /*  ¿¿¿ que porcentaje es 600px de 1170px ???  600/1170 */
		padding: 30px;	
	}

	.hero__media{
		width: 50%;
	}

	.hero__title{

	}

	.hero__img{
		display: block;
		width: 100%;	
	}

	.hero__btn{
		display: inline-block;
		padding: 10px 30px;
		background-color: tomato;
		color: white;
		border-radius: 8px;
		text-decoration: none;
	}

	.hero__options{
		margin-top: 30px;
		display: flex;
		gap: 15px;
	}

	.hero__share{
		background-color: #6666FF;
		color: white;
		padding: 5px 10px;
		border-radius: 8px;
		text-decoration: none;
		display: inline-block;
	}

/* ==================== *\
	     R R S S
\* ==================== */



.rrss{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

	.rrss__link{
		display: block;
		margin: 0 10px;
	}


/* ==================== *\
	   F O O T E R
\* ==================== */



.footer{
	background-color: black;
	color: white;
	padding: 30px;
	text-align: center;
}


/* ==================== *\
    P R O D U C T I T O
\* ==================== */



.productito{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}	
	.productito__text{
		width: 66.66%;
	}

	.productito__media{
		width: 33.33%;
	}


/* ==================== *\
	   S E C T I O N
\* ==================== */




.section{
	background-color: #eeeeee;
	padding-top: 60px;
	padding-bottom: 60px;
}

	.section__container{
		width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}

	.section__title{
		text-align: center;
		text-transform: uppercase;
	}

