body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}



table{
	background-color: olive;
	color: white;
	border-style: solid;
	border-width: 4px;
	border-color: purple;
	font-family: helvetica, sans-serif;
	border-collapse: collapse;
}
td, th{
	border-width: 1px;
	border-style: solid;
	border-color: yellow;
	padding: 5px;
}

th{
	background-color: green;
}

.saludo{
	background-color: orange;
}

.piscos-destacados{
	background-color: pink;
	padding: 10px;
	margin: 0;
}

.oferta{
	background-color: #000;
	padding: 10px;
	text-align: center;
}


	.oferta--especial{
		font-size: 150%;
	}

	.oferta__link{
		color: #fff;
		font-weight: 700;
		text-decoration: none;
	}

	.oferta__link:hover{
		color: #f00;
	}


.header{
	border-bottom: solid 1px black;
	background-color: #d7d7d7;
}

	.header__title{
		color: red;
	}

	.header__content{
		width: 1170px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


.menu{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

	.menu__link{
		display: block;
		/*padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;*/
		padding: 5px 10px;
		text-decoration: none;
		text-transform: uppercase;
		color: #000;
	}

	.menu__link:hover{
		color: #fff;
	}

	.submenu{
		padding: 0;
		list-style: none;
		display: none;
		position: absolute;
		background-color: #c1c1c1;
	}

	.menu__item:hover .submenu{
		display: block;
	}

.rrss{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

	.rrss__link{
		display: block;
		margin: 0 10px;
	}


.footer{
	background-color: black;
	color: white;
	padding: 30px;
	text-align: center;
}




.section{
	background-color: #eeeeee;
	padding-top: 60px;
	padding-bottom: 60px;
}

	.section__container{
		width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}

	.section__title{
		text-align: center;
		text-transform: uppercase;
	}

